data/*
!data/get_data.sh
*.pth
*.pt
!ckpt_0_200_0.pth
*.ttf
.vscode
reports
logs/
templates/node_modules/
templates/node_modules/package-lock.json

*__pycache__

src/service/data_preprocess/clean_data/implement.ipynb