colorlog
thespian
PyYAML
pretty-errors
faiss-cpu
numpy
regex
tqdm
langdetect
googletrans==3.1.0a0
translate
clip-by-openai
torch
pillow
scipy
matplotlib
pandas
tqdm
salesforce-lavis
image-reward
uvicorn==0.30.6
huggingface-hub==0.24.0
transformers==4.28.1
rapidfuzz